a {
    cursor: pointer;
}

article::after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.navbar-bkgrd{
  background-color: grey;
}

.brand{
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 20pt;
}
.brand:hover, .brand:visited, .brand:link{
  color: white;
  text-decoration: none;
}

.copyright{
  // position: absolute;
  // width: 100%;
  // bottom: 10px;
  text-align: center;
  font-size: 7pt;
  color: grey;
}

.glyphicon-refresh-animate {
  margin-top: 100px; 
  font-size: 50pt;
  color: lightgrey;
    -animation: spin 1.7s infinite linear;
    -webkit-animation: spin2 1.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

form, .error-message, .success-message{
  border-radius: 10px;
  border: 1px solid grey;
  margin: 30px;
  padding: 10px;
  position: relative;
  background-color: white;
  opacity: 0.8;
  color: black;
}

.form-input-row{
  margin: 10px 0px 10px 0px;
}

.form-input-label{
  width: 80px;
  display: inline-block;
}

.form-input-input{
  color: black;
}

    .form-input-input.ng-valid{
      border: 2px solid lightgreen;
    }

    .form-input-input.ng-dirty.ng-invalid{
      border: 2px solid red;
    }

.btn-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 10pt;
    padding: 0px 3px 0px 3px;
}

.btn-signup {
  position: fixed;
  top: 60px;
  right: 10px;
  font-size: 15pt;
  z-index: 100;
}


