{% load staticfiles %}
{% load static %}

<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Landing Page</title>
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'angular/vendors/bootstrap.min.css' %}">
        <script src="{% static 'angular/vendors/jquery.min.js' %}"></script>
        <script src="{% static 'angular/vendors/bootstrap.min.js' %}"></script>
        <script src="{% static 'angular/vendors/angular.min.js' %}"></script>
        <!-- <script src="{% static 'angular/vendors/angular-route.js' %}"></script> -->
        <!-- <script src="{% static 'angular/vendors/lodash.min.js' %}"></script> -->
        <!-- <script src="{% static 'angular/vendors/d3.js' %}"></script> -->
        
        <script src="{% static 'angular/app.js' %}"></script>
        <!-- Angular controllers and services
        <!-- <script src="dist/bmbase.min.js"></script> -->
        <script src="{% static 'angular/main.controller.js' %}"></script>
    </head>
    <body ng-controller="MainCtrl as main">
        <div class="container-fluid">
            <div class="row navbar-bkgrd">
                <div style="display: inline-block; margin: 5px">
                    <a href="#/" class="brand">
                        Logo 
                    </a>
                </div>
                <div  style="float: right; margin: 8px;">
                    <a href="#/about" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a href="#/team" class="btn btn-default">
                       <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <a href="#/contact" class="btn btn-default">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
            </div>

            <article>
                <h1> Boomerang </h1>
                <h2> Predictive People Analytics </h2>
            </article>

            <article>
                <h1> Description of Boomerang </h1>
                <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
            </article>

            <article>
                <h1> Maybe a screenshot or two goes here? </h1>
                <h5> 
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

                </h5>
            </article>

            <form 
                name="preliminaryForm" 
                ng-submit="main.submit(main.email)" 
                ng-if="main.showPreliminaryForm">
                <h4> Sign up for the Boomerang private beta here </h4>
                <div class="form-input-row"> 
                    <div class="form-input-label"> First name: </div>
                    <input class="form-input-input" type="text" ng-model="main.firstName" required="string">
                </div>
                <div class="form-input-row"> 
                    <div class="form-input-label"> Last name: </div>
                    <input class="form-input-input" type="text" ng-model="main.lastName" required="string">
                </div>
                <div class="form-input-row"> 
                    <div class="form-input-label"> Email: </div>
                    <input class="form-input-input" type="email" ng-model="main.email" required="email">
                </div>
                <input ng-disabled="preliminaryForm.$invalid" class="btn btn-primary" type="submit" value="Next">
            </form>



            <form 
                name="detailForm" 
                ng-submit="main.submit(main.email)" 
                ng-if="main.showDetailForm">
                <h4> Thanks. Please tell us a bit about your company </h4>
                <div class="form-input-row"> 
                    <div class="form-input-label"> Industry: </div>
                    <select class="form-input-input" ng-model="main.industry" required="string">
                        <option value="Business Process Outsourcing"> Business Process Outsourcing </option>
                        <option value="Education"> Education </option>
                        <option value="Financial Services"> Financial Services </option>
                        <option value="Healthcare"> Healthcare </option>
                        <option value="Hospitality"> Hospitality </option>
                        <option value="Manufacturing"> Manufacturing </option>
                        <option value="Retail"> Retail </option>
                        <option value="Tech-Software"> Tech-Software </option>
                        <option value="Tech-Hardware"> Tech-Hardware </option>
                        <option value="Other"> Other </option>
                    </select>
                </div>
                <div class="form-input-row"> 
                    <div class="form-input-label"> Employee count: </div>
                    <input class="form-input-input" type="number" ng-model="main.employeeCount" required="number">
                </div>
                <div class="form-input-row"> 
                    <div class="form-input-label"> Annual hires </div>
                    <input class="form-input-input" type="number" ng-model="main.annualHires" required="number">
                </div>
                <input ng-disabled="detailForm.$invalid" class="btn btn-primary" type="submit" value="Submit">
            </form>

            <div class="error-message" ng-if="main.showErrorMessage">
                <span> Something went wrong, please try again </span>
                <span class="btn-close" ng-click="main.closeMessage()"> X </span>
            </div>

            <div class="success-message" ng-if="main.showSuccessMessage">
                    <span class="btn-close" ng-click="main.closeMessage()"> X </span>
                    <span> Thanks for submitting your information, we'll be in touch soon. </span>
            </div>

            <div class="row copyright">
                <div class="col-xs-12">
                Copyright 2016
                </div>
            </div>
        </div>
    </body>
</html>
